.card-box{
    padding: 15px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
}
h2{
    font-size:25px;
    font-weight: bold;
}
p{
    width: 200px;
}
img{
    margin-top: 5px;
}
