<div id="formations" class="my-5">
    <div class="row">
        <div class="format col-sm-3 bg-white border border-dark">
            <%= cl_image_tag("le_wagon_uzmjj1", height: 100, crop: :fill) %>
        </div>

        <div class="col-sm-3 bg-white border border-dark border-start-0">
            <%= cl_image_tag("aecd-new_1_he47pr", height: 100, crop: :fill) %>
        </div>

        <div class="col-sm-3 bg-white border border-dark border-start-0">
            <%= cl_image_tag("mairie-ducos_fahykh", height: 100, crop: :fill) %>
        </div>

        <div class="col-sm-3 bg-white border border-dark border-start-0">
            <%= cl_image_tag("sima-v_1_yynvwy", height: 100, crop: :fill) %>
        </div>



    </div>
</div>
